<h1>Articles du locator</h1>

<div class="row">
  <div class="col-lg-12 px-auto">
    <%= will_paginate @articles %>
  </div>
</div>

<table class="table table-border table-hover table-sm">

  <thead>
    <tr>
      <th>ID</th>
      <th>Article</th>
      <th>Description</th>
      <th>état</th>
      <th nowrap >Date d'entrée en stock</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each_with_index do | article, index| %>
        <tr>
          <td><%= article.id_locator %></td>
          <td><%= article.article %></td>
          <td style="font-size:0.7em"><%= article.description.html_safe %></td>
          <td ><%= article.id_etat %></td>
          <td nowrap><%= article.in_datetime %></td>
        </tr>
    <% end %>

  </tbody>
</table>

<div class="row">
  <div class="col-lg-12 px-auto">
    <%= will_paginate @articles %>
  </div>
</div>
