<h1 style="padding-bottom:20px">Listes des articles disponibles</h1>

<% @articles.each do |article| %>
    <div class="row border-bottom py-1">
        <div class="col-lg-10">
            <a href="<%= article_path(article) %>">
                <h2><%= article.title %></h2>
            </a>

            <p><%= article.content  %></p>
        </div>
        <div class="col-lg-2">
            <%= link_to('edit',edit_article_path(article)) %>
            <%= link_to('x',article_path(article), method: :delete) %>
        </div>
    </div>

<% end %>
<%= link_to 'Nouvel article', new_article_path %>

<br><br>
<%= link_to '< Index', root_path %>
