<%= form_with scope: :article, url: article_path(@article.slug), method: :put, local: true do |form| %>
    <p>
        <%= form.label :title %>
        <% if @article.errors[:title] %>
        <div class="small " style="color:indianred">
            <%= @article.errors[:title].first %>
        </div>
    <% end %>
    <%= form.text_field :title, class: 'form-control' %>
    </p>

    <p>
        <%= form.label :content %>
        <% if @article.errors[:content] %>
            <div class="small " style="color:indianred">
                <%= @article.errors[:content].first %>
            </div>
        <% end %>
        <%= form.text_area :content, class: 'form-control' %>
    </p>

    <p>
        <%= form.submit %>
    </p>
<% end %>

<%= link_to('retour aux articles', articles_path) %>