<h1 style="padding-bottom:20px">Listes des articles disponibles</h1>


<% @articles.each do |article| %>
    <div class="row border-bottom py-1">

        <div class="col-lg-10">
            <a href="<%= article_path(article.slug) %>">
                <h2><i class="fa fa-angle-right mr-2"></i> <%= article.title %></h2>
            </a>

            <p><%= article.content  %></p>
            <div class="row text-right">
              <div class="col-lg-12">
                <small style="justify-content:right">
                  par <%= article.user.email %>  le <%= article.created_at %>
                </small>
              </div>
            </div>
        </div>

        <% if user_signed_in? && current_user.id.to_s == article.user_id.to_s %>
          <div class="col-lg-2">

              <%= link_to url: edit_article_path(article.slug) do %>
                <i class="fa fa-pencil-alt mr-2" style="color:black"></i>
              <% end %>

              <%= link_to url: article_path(article.slug), method: :delete do %>
                <i class="fa fa-trash mr-2" style="color:indianred"></i>
              <% end %>

          </div>
        <% end %>

    </div>

<% end %>


<div class="row py-4">
  <div class="col-lg-6">
    <%= link_to '< Index', root_path, class:"btn btn-primary" %>
  </div>
  <div class="col-lg-6">
    <%= link_to 'Nouvel article', new_article_path, class:"btn btn-info" %>
  </div>
</div>
