<h1><%= @article.title %> <br> <small style="font-size:0.5em"> <%= @article.user.email %></small></h1>
<p><%= @article.content  %></p>

<h2>Commentaires :</h2>

<% if user_signed_in? %>
  <%= form_with scope: :comment, url: article_comments_path(@article.slug), method: :post, local: true do |form| %>

      <p>
        <%= form.text_field :comment, class: 'form-control' %>
      </p>

      <p>
          <%= form.submit%>
      </p>
  <% end %>
  <br>
<% end %>

<% @article.comments.each do |comment| %>

  <div class="row">
    <div class="col-lg-12">
      <p> <%= comment.comment %> </p>
      <span><%= comment.created_at %></span>
      <span>user - <%= comment.user.email %></span>
    </div>
  </div>
  <hr>
<% end %>
<div class="row py-4">
  <div class="col-lg-12">
    <%= link_to 'retour au articles', articles_path , class:"btn btn-primary" %>
  </div>
</div>
