.pagination{
  padding: 10px;
  justify-content: center;

  a{
    padding: 3px 10px 3px 10px;
    background-color: rgb(199, 196, 199);
    &.previous_page{background-color: rgba(199, 196, 199,0);}
    &.next_page{background-color: rgba(199, 196, 199,0);}

    &:hover{
      background-color: darken(rgb(199, 196, 199),10%);
      color:inherit;
    }
  }

  .gap{
    padding: 3px 10px 3px 10px;
  }
  em{
    &.current{
    padding: 3px 10px 3px 10px;
      color : black;
    }
  }
}
