<!DOCTYPE html>
<html>
<head>
    <title>Auth</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"># <b>R</b>ails </a>
    <button class="navbar-toggler"
            type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="<%= articles_path %>">Articles <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Utilitaires
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="<%= categories_path %>">Categories</a>
                    <a class="dropdown-item" href="#">Comments</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">User settings</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">


            <li class="nav-item dropdown">
                <% if user_signed_in? %>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <%= current_user.email %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="<%= destroy_user_session_path %>" data-method="delete">Logout</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">User settings</a>
                    </div>
                <% else %>

                    <a class="mr-2" style="font-size: 1.3em;color:white" href="<%= new_user_session_path %>">Login </a>
                <% end %>

            </li>
            <form class="form-inline m-2 my-lg-0" method="post" action="<%= search_path %>">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Recherche</button>
            </form>
        </ul>

    </div>
</nav>
<div class="container ">
    <div class="row py-3">
        <div class="col-lg-12">
            <div class="row">
                <% if flash[:notice] %>
                    <div class="alert alert-success "
                         style="position: fixed ; right:30px ; bottom:30px">
                        <%= notice %>
                    </div>
                <% end %>
            </div>
            <div class="row">
                <% if flash[:alert] %>
                    <div class="alert alert-danger"
                         style="position: fixed ; right:30px ; bottom:30px">
                    <%= alert %></div>
                <% end %>
            </div>
        </div>
    </div>

      <%= yield %>

</div>

</body>
</html>
